@model WebApplication1.Models.Course

@{
    ViewData["Title"] = "Add Course";
}

<h2>Add Course</h2>

<form asp-action="AddCourse">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="CourseCode" class="control-label"></label>
        <input asp-for="CourseCode" class="form-control" />
        <span asp-validation-for="CourseCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CourseName" class="control-label"></label>
        <input asp-for="CourseName" class="form-control" />
        <span asp-validation-for="CourseName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Credits" class="control-label"></label>
        <input asp-for="Credits" class="form-control" />
        <span asp-validation-for="Credits" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="ShowAllCourse">Back to List</a>
</div>

